.teamDisplayer{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 40px;
    gap: 20px;
}

.teamDisplayerHeading{
    background-color: rgb(60, 60, 60);
    text-align: center;
    padding: 2rem;
    color: white;
    width: 80%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;

    border: 1px solid gray;
}